* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    
    background-color: black;
    color: white;
    background-image: url(./BlackPotrait.jpg);
}

.navbar{
    /* position:fixed; */
    display: flex;
    width:100 ;
    text-align: center;
    top: 0;
    z-index: 1;
}

.navbar__buttons{
    color:rgb(186, 183, 183);
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
}
.navbar__buttons:hover{
    color: black;
    background-color:rgb(186, 183, 183) ;
    
}

.frontpage__image{
    max-width: 100%;
    height: auto;
}

.scrolling-text {
    display:flex;
    justify-content:flex-start;
    overflow:hidden;  
  }
  
 .scrolling-text h1{
  animation: scroll-left 6s linear infinite;
  white-space:nowrap;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

.frontpage__text{
    margin-bottom: 8rem;
    margin-top: 24rem;
    font-size: 100px;
    font-weight: 100;
    color: antiquewhite;
    text-align: center;
    
}

.about{
    color: rgb(187, 181, 181);
}

/* Responsive design */

@media all and (max-width:500px) {
    
    
}