* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    
    background-color: black;
    color: white;
    background-image: url(./BlackPotrait.jpg);
    background-repeat: no-repeat;
}

.navbar{
    /* position:fixed; */
    display: flex;
    width:100 ;
    text-align: center;
    top: 0;
    z-index: 1;
}

.navbar__buttons{
    color:rgb(186, 183, 183);
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
}
.navbar__buttons:hover{
    color: black;
    background-color:rgb(186, 183, 183) ;
    
}

.frontpage__image{
    
    max-width: 100%;
    height: auto;
}

.scrolling-text {
    display:flex;
    justify-content:flex-start;
    overflow:hidden;  
  }
  
 .scrolling-text h1{
  animation: scroll-left 10s linear infinite;
  white-space:nowrap;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

.frontpage__text{
    margin-bottom: 8rem;
    margin-top: 24rem;
    font-size: 100px;
    font-weight: 100;
    color: antiquewhite;
    text-align: center;
    
}
/* About section */

.about{
    color: rgb(187, 181, 181);
}


/* Hamburger button */
#top-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 11, 11);
    color: rgb(255, 255, 255);
    border: none;
    border-radius:10px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
  }
  #top-button:hover{
    background-color: aliceblue;
    color: black;
  }
  #top-button:active{
    background-color: aqua;
  }
  

.flex-container1 {
    display: flex;
  }

  .flex-container2 {
    display: flex;
  }
  
  .box {
    flex: 1; /* evenly distribute the boxes across the row */
    background-color: aliceblue;
    background-image: url(./lamp.avif);
    text-align: center;
    height: 250px;
    width:400px;
    border-top: 30px solid white;
    border-bottom: 30px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;

    margin: 30px;
  }
  
/* Responsive design */

@media all and (max-width:500px) {
    
    
}