* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    
    background-color: black;
    color: white;
}

.navbar{
    /* position:fixed; */
    display: flex;
    width:100 ;
    text-align: center;
    top: 0;
    z-index: 1;
}

.navbar__buttons{
    color:rgb(186, 183, 183);
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
}
.navbar__buttons:hover{
    color: black;
    background-color:rgb(186, 183, 183) ;
    
}

.frontpage__image{
    max-width: 100%;
    height: auto;
}

.frontpage__text{
    margin-bottom: 8rem;
    margin-top: 6rem;
    font-size: 60px;
    font-weight: 100;
    color: antiquewhite;
    text-align: center;
    
}

.about{
    color: rgb(187, 181, 181);
}

/* Responsive design */

@media all and (max-width:500px) {
    
    
}