/* box containers */


.flex-container1 {
    display: flex;
    /* background-image: url(./BlackPotrait.jpg); */
    background-size: contain;
  }
  

  .flex-container2 {
    display: flex;
  }
  
  .box {
    flex: 1; /* evenly distribute the boxes across the row */
    background-color: aliceblue;
    /* background-image: url(./DSC_0150.jpg); */
    text-align: center;
    height: 250px;
    width:400px;
    border-top: 30px solid white;
    border-bottom: 30px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
    /* background-size: cover; */

    margin: 30px;
  }
  #box1{
    background-image: url(./photos/DSC_0150.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
  }
